html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 3mm;
  font-family: Arial, sans-serif;
  color: #18191A;
}

body {
  display: flex;
  flex-flow: column;
}

.toolbar {
  padding: 3px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  min-height: 23px;
}

.toolbar button {
  background: rgba(0,0,0,0.2);
  border: none;
  padding: 0 3px;
}

.toolbar button::after {
  content: "";
  display: inline-block;
  margin-top: 1px;
  width: 16px;
  height: 16px;
  background-image: url("chrome://browser/skin/devtools/profiler-stopwatch.svg");
  background-size: cover;
}

.toolbar button:not([checked]):hover {
  background: rgba(0,0,0,0.3);
}

.toolbar button[checked]::after {
  background-image: url("chrome://browser/skin/devtools/profiler-stopwatch-checked.svg");
}

.devtools-searchinput {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 2px;
  margin: 0 3px;
  padding: 1.5px 0;
  -moz-padding-start: 22px;
  -moz-padding-end: 12px;
  width: 200px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.3);
  background-image: url("chrome://browser/skin/devtools/magnifying-glass-light.png");
  background-position: 7px center;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-clip: padding-box;
  font: message-box;
  float: right;
}

.devtools-searchinput::-moz-placeholder {
  font-style: italic;
}

.main {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-flow: row;
}

.records {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: rgba(255,255,255,0.07);
}

.screenshots {
  width: 30%;
  border-left: 1px solid rgba(0,0,0,0.2);
}

.screenshots img {
  width: 100%;
}

.record {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 5px 3px;
  margin: 0;
  list-style-type: none;
}

.record:hover {
  background: #4C9ED9;
  border-bottom-color: transparent;
  color: white;
}

.record.event:not(:hover) {
  color: orange;
}

.target {
  float: right;
}

.target-tag {}

.target-id {
  color: #70bf53;
  margin-left: 3px;
}

.target-classes {
  color: #46afe3;
  margin-left: 3px;
}

.record:hover .target-tag,
.record:hover .target-id,
.record:hover .target-classes {
  color: white;
}

.attribute-name {
  font-weight: bold;
  color: #46afe3;
}

.attribute-value {
  font-style: italic;
  color: #999;
}

.record:hover .attribute-name,
.record:hover .attribute-value {
  color: white;
}
